<!DOCTYPE html>
{% load staticfiles %}
{% load vil_template_tags %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VIL | {% block title_block %} Very-important-links {% endblock %}</title>
  </head>
  <body>
    <div class="">
      {% block body_block %}
      {% endblock %}
    </div>
    <div>
      {% block sidebar_block %}
          {% get_category_list categorias %}
      {% endblock %}
    </div>

    <hr>

    <div class="">
      <ul>
        <li><a href="{% url 'vil_app:index' %}">Inicio</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'vil_app:add_category' %}">Nueva categoría</li></a>
        <li><a href="{% url 'password_change' %}">Cambiar contraseña</li></a>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'vil_app:registrarse' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </body>
</html>
