{% extends 'vil_app/base.html' %}
{% load crispy_forms_tags %}

{% block title_block %}Nueva página {% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
  <div class="container">
  <h1 class="jumbotron-heading">Agregar nueva página </h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <form class="page_form" action="" method="post" novalidate>
      {% csrf_token %}
      <table>
        {{ form | crispy}}
      </table>
      <button class="btn btn-success" type="submit" name="submit">
        Agregar página.
      </button>
      <div class="p-3"></div>
    </form>

  </div>
</div>

<div class="container">
  <div class="row">
    <h3><a href="{% url 'vil_app:search'%}">Usar buscador</a> </h3>
  </div>
</div>
{% endblock %}
