{% extends 'vil_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
 {% if categorias %}{{ categorias.name }} {% else %} No existe {% endif %}
{% endblock %}

    {% block body_block %}
      {% if categorias %}
      <h1>{{ categorias.name }}</h1>
        {% if categorias.page_set.all %}
        <ul>
          {% for pagina in categorias.page_set.all reversed %}
          <li><a target="_blank" rel="noopener noreferrer" href="{{ pagina.url }}">{{ pagina.title }}</a></li>
          {% endfor %}
        </ul>
        {% else %}
        <strong>No páginas en esta categoría.</strong>
        {% endif %}
        <br>
        <h3><a href="{% url 'vil_app:add_page' categorias.slug %}">Agregar una nueva página.</a> </h3>
        <br>


      {% else %}
        No existe esta categoría.
      {% endif %}
    {% endblock %}
